{% extends 'base.html' %} {% block content %}



  <form action="{% url 'edit-transaction' transaction.id %}" method="post">
  {% csrf_token %}
  <div class = "transaction">
    <label for="">Amount</label>
    <input
      type="text"
      name="amount"
      value="{{values.amount}}"/>
  </div>  
  <div class = "transaction">
    <label for="">Description</label>
    <input
      type="text"
      name="name"
      value="{{values.name}}"/>
  </div>


  <div class = "transaction">
    <label for="">Category</label>
    <select name="category">
      <option selected name="category" value="{{values.category}}"
          >{{values.category}}</option>
            {% for category in categories%}

            <option name="category" value="{{category.name}}"
              >{{category.name}}</option>

            {% endfor %}
          </select>
  </div>
  <div class = "transaction">
    <label for="">Date of Transaction</label>
    <input
      type="date"
      value="{{values.date |date:'Y-m-d' }}"
      name="transaction_date"
          />
  </div>
  <div class = "transaction">
    <input
      type="submit"
      value="Save"
        />
</div>
      </form>
{% endblock %}


<div class = "right">
  {% block contentright %}</div>
  {% endblock %}